{% extends 'main.html' %}

{% block content %}

<!-- <form action="" method="POST">
    
    <p>Are you sure you want to delete "{{object}}"?</p>
    <a href="{% url 'projects' %}">Cancel</a>
    {% csrf_token %}
    <input type="submit" value="Confirm">
</form> -->
<body>
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">

                <form class="form" method="POST">
                    <p>Are your sure you want to delete {{object}}?</p>
                    <a class="btn btn--sub btn--lg  my-md" href="{{request.META.HTTP_REFERER|escape}}">&#x2190 Go Back</a>
                    {% csrf_token %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </main>
</body>

</html>

{% endblock %}
